APP_NAME=jass-backend
PORT=3001
NODE_ENV=development
TZ=Asia/Bangkok

LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_SCHEMA=public

WEB_BASE_URL=http://localhost:5173
LIFF_ID=2009908241-5ii7GhO0
